.dark {
  .blog-container {
    background-color: var(--dark-background);
    color: var(--dark-text-color);
  }

  .blog-pill {
    border: 2px solid var(--dark-hover-background);
    background-color: var(--dark-background);
    color: var(--dark-text-color);
  }

  .blog-pill:hover {
    color: var(--dark-background);
    background-color: var(--dark-hover-background);
  }

  .blog-pill-active {
    background-color: var(--dark-hover-background);
    color: var(--dark-background);
  }

  .blog-pill-active:hover {
    background-color: var(--dark-hover-background);
  }

  .blog-row {
    color: white;
    border-bottom: 1px solid var(--dark-hover-background);
  }

  .blog-row:hover {
    color: var(--dark-background);
    background-color: var(--dark-hover-background);
  }

  .blog-header {
    border-bottom: 1px solid var(--dark-hover-background);
  }

  .footer-container {
    background-color: #272727;
  }

  .footer-explainer {
    color: var(--dark-text-color);
  }

  .footer-link {
    border: 2px solid var(--dark-hover-background);
    color: var(--dark-text-color);
    background-color: var(--dark-background);
  }

  .footer-link:hover {
    color: var(--dark-background);
    background-color: var(--dark-hover-background);
  }
}
