@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
  font-family: 'Roboto Slab', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-form {
  border: 2px solid;
  padding: 20px;
}

.navbar {
  background-color: black;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

.navbar-container {
  background-color: black;
}

.navbar-link:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.navbar-link-active {
  border-bottom: 2px solid white;
}

.footer-container {
  justify-items: center;
  background-color: #dee2e6;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.footer-explainer {
  color: black;
  font-weight: 550;
  text-align: center;
}

.nav-link.footer-link {
  border: 2px solid black;
  justify-content: space-evenly;
  color: black;
  margin: 5px 0px 10px 0px;
}

.nav-link.footer-link:hover {
  color: white;
  background-color: black;
}

.footer-nav {
  background-color: #343a40;
}

.title-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-title {
  text-decoration: underline;
}

.generic-button {
  background-color: white !important;
  color: black !important;
  border: 2px solid black !important;
  border-radius: 0px !important;
}

.generic-button:hover {
  background-color: black !important;
  color: white !important;
}

.close {
  color: white !important;
}

.blog-link {
  text-decoration: none;
}

.blog-header {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.blog-row {
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.blog-row:hover {
  color: white;
  background-color: black;
}

.page-title-blog {
  text-decoration: underline;
  text-align: center;
}

.blog-body-text {
  margin: 15px;
}

.blog-title-text {
  font-weight: 600 !important;
}
