@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

:root {
  --dark-background: #121212;
  --dark-text-color: #ffffff;
  --dark-hover-background: #888888;
}

* {
  font-family:
    'Roboto Slab', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: black;
}

.navbar-container {
  background-color: black;
}

.footer-container {
  background-color: #dee2e6;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.footer-explainer {
  color: black;
  font-weight: 550;
  text-align: center;
}

button.footer-link {
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  font: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #dee2e6;
}

.footer-link {
  border: 2px black solid;
  margin-bottom: 10px;
  background-color: #dee2e6;
  text-decoration: none;
  color: black;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}

.footer-link:hover {
  color: white;
  background-color: #888888;
}

.footer-nav {
  background-color: #343a40;
}

.title-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-container {
  background-color: #ebeeef;
}

.blog-link {
  text-decoration: none;
}

.blog-header {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.blog-row {
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid black;
}

.blog-row:hover {
  color: white;
  background-color: #888888;
}

.blog-body-text {
  margin: 15px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  opacity: 0;
  /* Start hidden */
  animation: slideInLeft 0.5s ease-out forwards;
}
